<section class="mt-5 mb-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center mt-5">Terms And Conditions</h1>

    <div class="p-5 mt-4 bg-secondary-theme">
      <p>
        In SCSS (Sass), you can declare variables to store values that you want
        to reuse throughout your stylesheets. To declare a variable in SCSS, you
        use the $ symbol followed by the variable name, an optional colon :, and
        the value you want to assign to the variable. Here's the basic syntax:
      </p>
      <p>
        In SCSS (Sass), you can declare variables to store values that you want
        to reuse throughout your stylesheets. To declare a variable in SCSS, you
        use the $ symbol followed by the variable name, an optional colon :, and
        the value you want to assign to the variable. Here's the basic syntax:
      </p>
      <p>
        In SCSS (Sass), you can declare variables to store values that you want
        to reuse throughout your stylesheets. To declare a variable in SCSS, you
        use the $ symbol followed by the variable name, an optional colon :, and
        the value you want to assign to the variable. Here's the basic syntax:
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-sub text-white">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
