<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h1 class="text-center text-theme-primary">New Category</h1>
      <p class="text-center mb-5">You can add new categories</p>
      <!-- input-group -->
      <form class="input-group text-center">
        <div class="form-group col-md-10">
          <input
            type="text"
            class="form-control shadow-effect"
            placeholder="Add new Category"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-block btn-info text-white mb-2 btn-sub">
            Add Category
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
