<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/18197687/pexels-photo-18197687/free-photo-of-beach-and-hill-on-sea-shore-in-black-and-white.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center me-3">Technology</small>
    <small class="bg-light text-success text-center me-3">Featured</small>
    <small class="bg-light text-info text-center">Views - 543</small>

    <h5 class="mt-1">How To Center A Div</h5>
    <p>
      To center a div element horizontally and vertically on a web page or
      within a parent container, you can use CSS. There are several ways to
      achieve this centering effect, depending on your specific requirements.
      Here are three common methods...
    </p>

    <small class="bg-light text-warning text-center"
      >LAST UPDATED SEP 13-2023</small
    >
  </div>
</div>
